:root {
  --primary: rgb(104,148,249);
}

/* Light */
[data-theme="light"] {
  --bg: #f5f7fb;
  --card: #ffffff;
  --text: #1f2937;
  --muted: #6b7280;
}

/* Dark */
[data-theme="dark"] {
  --bg: #0f172a;
  --card: #020617;
  --text: #e5e7eb;
  --muted: #9ca3af;
}
